<a href="https://colab.research.google.com/github/imammarzuki/pythonpemula/blob/main/10_Number.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Tutorial Belajar Python Part 10: Tipe Data Number dalam Bahasa Python

In [1]:
foo = 100
bar = 30.23
baz = 4j

print(foo)
print(bar)
print(baz)

100
30.23
4j

In [2]:
foo = 100
bar = 30.23
baz = 4j

print(type(foo))
print(type(bar))
print(type(baz))

<class 'int'>
<class 'float'>
<class 'complex'>

In [3]:
foo = 999
bar = -99999
baz = 99999999999999999999

print(foo)
print(bar)
print(baz)

999
-99999
99999999999999999999

In [4]:
foo = 3e2
bar = 3e-2
baz = 1.34E5

print(foo)
print(bar)
print(baz)

300.0
0.03
134000.0