<a href="https://colab.research.google.com/github/imammarzuki/pythonpemula/blob/main/12_List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Tutorial Belajar Python Part 12: Tipe Data List dalam Bahasa Python

In [2]:
foo = ["Belajar", "Python", "di", "Duniailkom"]
bar = [100, 200, 300, 400]
baz = ["Python", 200, 6.99, True]

print(foo)
print(bar)
print(baz)

['Belajar', 'Python', 'di', 'Duniailkom']
[100, 200, 300, 400]
['Python', 200, 6.99, True]

In [3]:
foo = ["Belajar", "Python", "di", "Duniailkom"]
bar = [100, 200, 300, 400]
baz = ["Python", 200, 6.99, True]

print(type(foo))
print(type(bar))
print(type(baz))

<class 'list'>
<class 'list'>
<class 'list'>

In [4]:
foo = ["Python", 200, 6.99, True, 'Duniailkom', 99j]

print(foo[0])
print(foo[1])
print(foo[2])
print(foo[3])
print(foo[4])
print(foo[5])

Python
200
6.99
True
Duniailkom
99j

In [5]:
foo = ["Python", 200, 6.99, True, 'Duniailkom', 99j]
print(foo)

foo[0] = 'Belajar'
foo[3] = False
print(foo)

['Python', 200, 6.99, True, 'Duniailkom', 99j]
['Belajar', 200, 6.99, False, 'Duniailkom', 99j]

In [6]:
foo = ["Python", 200, 6.99, True, 'Duniailkom', 99j]
print(foo[2:5])
print(foo[:3])
print(foo[3:])
print(foo[:])

[6.99, True, 'Duniailkom']
['Python', 200, 6.99]
[True, 'Duniailkom', 99j]
['Python', 200, 6.99, True, 'Duniailkom', 99j]