<a href="https://colab.research.google.com/github/imammarzuki/pythonpemula/blob/main/14_Set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Tutorial Belajar Python Part 14: Tipe Data Set dalam Bahasa Python

In [2]:
foo = {"Belajar", "Python", "di", "Duniailkom"}
bar = {100, 200, 300, 400}
baz = {"Python", 200, 6.99, True}

print(foo)
print(bar)
print(baz)

{'Duniailkom', 'Belajar', 'di', 'Python'}
{200, 100, 400, 300}
{200, True, 6.99, 'Python'}

In [3]:
foo = ["Belajar", "Python", "di", "Duniailkom"]
print(type(foo))

foo = ("Belajar", "Python", "di", "Duniailkom")
print(type(foo))

foo = {"Belajar", "Python", "di", "Duniailkom"}
print(type(foo))

<class 'list'>
<class 'tuple'>
<class 'set'>

In [4]:
foo = {"Belajar", "Python", "di", "Duniailkom", "di"}
bar = {100, 200, 300, 400, 200, 300}

print(foo)
print(bar)

{'Duniailkom', 'Belajar', 'di', 'Python'}
{200, 100, 400, 300}

In [5]:
foo = {"Belajar", "Python", "di", "Duniailkom", "di"}

print(foo[1])

TypeError: 'set' object is not subscriptable

In [6]:
foo = {1, 2, 3, 4, 5}
bar = {3, 4, 5, 6, 7}

print (foo | bar) # union
print (foo & bar) # intersection

{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5}