<a href="https://colab.research.google.com/github/imammarzuki/pythonpemula/blob/main/33_DefaultParameter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Tutorial Belajar Python Part 33: Pengertian Default Parameter pada Function Python

In [2]:
def tambah(var1, var2):
  return var1 + var2

In [3]:
print(tambah(1,2))
print(tambah(5,4))

3
9

In [4]:
def tambah(var1 = 5, var2 = 2):
  return var1 + var2

In [5]:
print( tambah() )
print( tambah(1) )
print( tambah(1,2) )
print( tambah(5,4) )

7
3
3
9

In [6]:
def tambah(var1 = 5, var2):
  return var1 + var2

SyntaxError: non-default argument follows default argument (<ipython-input-6-bbc4ff7130f6>, line 1)

In [9]:
def pangkat(angka, pangkat = 2):
  hasil = 1
  for i in range(0,pangkat):
    hasil = hasil * angka
  return hasil;

In [10]:
print( pangkat(3) )      # 9
print( pangkat(5) )      # 25
print( pangkat(10) )     # 100
print( pangkat(3,3) )    # 27
print( pangkat(5,4) )    # 625
print( pangkat(6,6) )    # 46656

9
25
100
27
625
46656