<a href="https://colab.research.google.com/github/imammarzuki/pythonpemula/blob/main/34_Named_Parameter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Tutorial Belajar Python Part 34: Pengertian Named Parameter / Keyword Arguments

In [2]:
def pangkat(angka, pangkat = 2):
  hasil = 1
  for i in range(0,pangkat):
    hasil = hasil * angka
  return hasil;

In [3]:
print( pangkat(5) )      # 25
print( pangkat(5,4) )    # 625
print( pangkat(6,6) )    # 46656

25
625
46656

In [4]:
def pangkat(angka, pangkat = 2):
  hasil = 1
  for i in range(0,pangkat):
    hasil = hasil * angka
  return hasil;

In [5]:
print( pangkat(angka = 4,pangkat = 3) )      # 64
print( pangkat(pangkat = 2,angka = 9) )      # 81

64
81

In [6]:
def akses_database(address,username,password):
  print("====Database Connection====");
  print("server: ",address);
  print("username: ",username);
  print("password: ",password);
  print(".....connection success!");

In [7]:
akses_database("localhost","root","123456")

====Database Connection====
server:  localhost
username:  root
password:  123456
.....connection success!

In [8]:
def akses_database(address,username,password):
  print("====Database Connection====");
  print("server: ",address);
  print("username: ",username);
  print("password: ",password);
  print(".....connection success!");

In [9]:
akses_database(username="admin",password="qwerty",address="192.168.0.4")

====Database Connection====
server:  192.168.0.4
username:  admin
password:  qwerty
.....connection success!