<a href="https://colab.research.google.com/github/imammarzuki/pythonpemula/blob/main/35_ArbitraryArguments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Tutorial Belajar Python Part 35: Pengertian Arbitrary Arguments (*args) Python

In [2]:
def sapa_teman(nama1, nama2, nama3):
  print("Halo",nama1)
  print("Halo",nama2)
  print("Halo",nama3)

In [3]:
sapa_teman("Alex","Nisa","Sari")

Halo Alex
Halo Nisa
Halo Sari

In [4]:
def sapa_teman(nama1, nama2, nama3):
  print("Halo",nama1)
  print("Halo",nama2)
  print("Halo",nama3)

In [5]:
sapa_teman("Alex","Nisa","Sari","Risa")

TypeError: sapa_teman() takes 3 positional arguments but 4 were given

In [7]:
def sapa_teman(*args):
  print(args)
  print(type(args))

In [8]:
sapa_teman("Alex","Nisa","Sari","Risa")

('Alex', 'Nisa', 'Sari', 'Risa')
<class 'tuple'>

In [9]:
def sapa_teman(*nama):
  for i in nama:
    print("Halo",i)

In [10]:
sapa_teman("Alex","Nisa","Sari","Risa","Siska","Rudi","Joko")

Halo Alex
Halo Nisa
Halo Sari
Halo Risa
Halo Siska
Halo Rudi
Halo Joko

In [11]:
def jumlah(*args):
  hasil = 0
  for i in args:
    hasil += i
  return hasil

In [12]:
print( jumlah(5,7) )
print( jumlah(5,7,3,2) )
print( jumlah(5,7,3,2,8,2,1,3) )
print( jumlah(100, 200, 300, 400, 500) )

12
17
31
1500

In [13]:
def rata2(*args):
  hasil = 0
  for i in args:
    hasil += i
  return hasil / len(args)

In [14]:
print( rata2(5,7) )
print( rata2(5,7,3,2) )
print( rata2(5,7,3,2,8,2,1,3) )
print( rata2(100,200,300,400,500) )

6.0
4.25
3.875
300.0